@media only screen and (max-width: 500px) {
  .first-advice .first-advice-part1 h3,
  .second-advice .second-advice-part1 h3,
  .third-advice .third-advice-part1 h3 {
    font-size: 1.125rem;
    letter-spacing: 0.1px;
    line-height: 1.75rem;
  }
  .advice-side .first-advice-part2 pre,
  .advice-side .second-advice-part2 pre,
  .advice-side .third-advice-part2 pre {
    font-size: 0.9375rem;
    line-height: 1.563rem;
  }
  body .container .features {
    padding: 1.25rem 0;
  }
  .second-part-wrapper .header-side h4 {
    font-size: 0.875rem;
  }
  .second-part-wrapper .header-side h2 {
    font-size: 1.875rem;
    padding: 0.525rem;
  }
  .container .statistics .computer-side h2 {
    font-size: 1.75rem;
    line-height: 1.875rem;
  }
  .container .statistics .computer-side h4 {
    font-size: 0.6875rem;
    line-height: 0.875rem;
  }
  .container .statistics .computer-side .thirdPart-button {
    font-size: 0.975rem;
    height: 2.863rem;
    width: 10.75rem;
  }
}

@media only screen and (max-width: 860px) {
  .container .features {
    height: fit-content;
    padding: 16.88rem 0 0 0;
  }
  .features .advice-side {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 3.125rem;
  }
  .features .advice-side .mobileLogoPicture {
    display: block !important;
  }
  .advice-side .desktopLogoPicture {
    display: none;
  }
  .statistics .computer-side h2 {
    font-size: 2.625rem;
    line-height: 3.375rem;
  }
  .statistics .computer-side h4 {
    font-size: 0.875rem;
    line-height: 1.063rem;
  }
  .statistics .computer-side .thirdPart-button {
    font-size: 1.175rem;
    height: 4.063rem;
    margin-bottom: 5.625rem;
    margin-top: 3.438rem;
    width: 14.75rem;
  }
}
@media only screen and (max-width: 920px) {
  .first-advice,
  .second-advice,
  .third-advice {
    align-items: center;
    justify-content: center;
    margin: 4.688rem 0;
  }
  .first-advice-part1,
  .second-advice-part1,
  .third-advice-part1 {
    padding-bottom: 0.625rem;
  }
  .statistics .computer-side .computer-photo {
    height: 12rem;
    opacity: 0;
    transform: translateX(100px);
    transition: all 1s ease-in-out;
  }
  .statistics .computer-side .computer-photo.visible {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media only screen and (max-width: 1300px) {
  .features .advice-side {
    align-items: center;
    display: flex;
  }
  .contaier .features{
    margin-top: 52.25rem;
  }
}
@media only screen and (min-width: 1800px) {
  .container .features{
    margin-top: 74.25rem;
  }
}
