@media only screen and (max-width:500px){
    .first-advice .first-advice-part1 h3,
    .second-advice .second-advice-part1 h3,
    .third-advice .third-advice-part1 h3{
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.1px;
    }
    .advice-side .first-advice-part2 pre,
    .advice-side .second-advice-part2 pre,
    .advice-side .third-advice-part2 pre{
      font-size: 15px;
      line-height: 25px;
    }
    body .container .features{
        padding: 20px 0;
    }
    .second-part-wrapper .header-side h4{
        font-size: 14px;
    }
    .second-part-wrapper .header-side h2{
        font-size: 1.875rem;
        padding: 0.525rem;
    }
    .container .statistics .computer-side h2 {
      font-size: 28px;
      line-height: 30px;
    } 
   .container .statistics .computer-side h4 {
      font-size: 11px;
      line-height: 14.5px;
    }
   .container .statistics .computer-side .thirdPart-button {
      font-size: 0.975rem;
      height: 2.863rem;
      width: 10.75rem;
    }
}

@media only screen and (max-width: 860px) {
  .container .features {
    padding: 270px 0 0 0;
    height: fit-content;
  }
  .features .advice-side {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
 .features .advice-side .mobileLogoPicture{
display: block !important;
  }
  .advice-side .desktopLogoPicture{
      display: none;
  }
  .statistics .computer-side h2 {
    font-size: 42px;
    line-height: 54px;
  }
  .statistics .computer-side h4 {
    font-size: 14px;
    line-height: 17.5px;
  }
  .statistics .computer-side .thirdPart-button {
    font-size: 1.175rem;
    height: 4.063rem;
    margin-bottom: 5.625rem;
    margin-top: 3.438rem;
    width: 14.75rem;
  }
}
@media only screen and (max-width: 920px) {


  .first-advice,
  .second-advice,
  .third-advice {
    margin: 75px 0;
    justify-content: center;
    align-items: center;
  }
  .first-advice-part1,
  .second-advice-part1,
  .third-advice-part1 {
    padding-bottom: 10px;
  }
  .statistics .computer-side .computer-photo {
    height: 12rem;
  }
}
@media only screen and (max-width:1300px){
.features .advice-side{
    display: flex;
    align-items: center;
}
}