@media only screen and (max-width: 500px) {
  .container .header .front-bg-mobile {
    top: 0;
  }
  .container .header .back-bg-mobile {
    top: 40px;
  }
  .container .header .imageTextContent .textContent .firstPart-button {
    font-size: 1.188rem;
    height: 3.263rem;
    width: 11.75rem;
  }
  .header .imageTextContent .mobileImageContent {
    background-size: cover;
  }
  .header .navbar-side {
    padding: 0 1.25rem;
  }
  .container .header .secondTextContent h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  .container .header .secondTextContent h4 {
    font-size: 0.875rem;
    line-height: 1.188rem;
  }
}

@media only screen and (max-width: 860px) {
  .header .front-bg,
  .header .back-bg {
    display: none;
  }
  .header .front-bg-mobile,
  .header .back-bg-mobile {
    display: block;
  }
  .header .textContent h1,
  .header .textContent h4 {
    display: none;
  }
  .header .imageTextContent .textContent .firstPart-button {
    background-color: var(--blueTone);
    color: var(--light-textBackground-color);
    font-family: "Roboto", sans-serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: bold;
    height: 3.663rem;
    letter-spacing: 0.1px;
    line-height: 2.063rem;
    width: 12.75rem;
  }
  .imageTextContent .textContent .firstPart-button:hover {
    background-color: var(--light-textBackground-color);
    color: var(--blueTone);
  }
  .header .secondTextContent {
    display: block;
    opacity: 0;
    padding-top: 5.625rem;
    transform: translateX(100px);
    transition: all 1s ease-in-out;
  }
  .header .secondTextContent.visible {
    opacity: 1;
    transform: translateX(0px);
  }
  .header .secondTextContent h2 {
    color: var(--light-textBackground-color);
    font-family: "Roboto", sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.2px;
    line-height: 57px;
    text-align: center;
  }
  .header .secondTextContent h4 {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 1.25rem;
    padding-top: 1.688rem;
    text-align: center;
  }
  .header .imageTextContent {
    display: flex;
    flex-direction: column;
  }
  .header .textContent h2 {
    color: var(--light-textBackground-color);
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 2.875rem;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.2px;
    line-height: 3.563rem;
    text-align: center;
  }
  .header .front-bg-mobile {
    left: 0;
    object-fit: contain;
    position: absolute;
    top: -164px;
    width: 100vw;
    z-index: 2;
  }
  .header .back-bg-mobile {
    left: 0;
    object-fit: contain;
    position: absolute;
    top: -100px;
    width: 100vw;
    z-index: 1;
  }
  .imageContent {
    display: none;
  }
  .header .mobileImageContent {
    display: block;
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1s ease-in-out;
    width: 80%;
  }
  .header .mobileImageContent.visible {
    opacity: 1;
    transform: translateX(0px);
  }
  .imageTextContent .textContent .firstPart-button {
    font-size: 0.875rem;
    height: 2.663rem;
    margin-top: 3.688rem;
    width: 10.75rem;
  }
}

@media only screen and (max-width: 920px) {
  .container .header .navbar-side .hamburger-menu-button {
    display: block;
  }
  .navbar-side .navbar-second-side .links {
    display: flex;
    flex-direction: column;
  }
  .header .navbar-side .navbar-second-side {
    background-color: var(--primary);
    height: 100vh;
    left: -100%;
    position: fixed;
    top: 0px;

    transition: all 0.5s ease-in-out;
    width: 100%;
  }
  .header .navbar-side .navbar-second-side.show {
    left: 0;
  }
  .header .navbar-side .navbar-second-side input,
  .header .navbar-side .navbar-second-side button{
display: none;
  }
  .header .navbar-side .navbar-second-side.close {
    display: none;
  }
  .header .navbar-side .navbar-second-side .navbar-close {
    cursor: pointer;
    display: block;
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 30px;
  }
}
@media only screen and (max-width: 1300px) {
  .navbar-side {
    justify-content: space-between;
  }
  .navbar-side .navbar-second-side input {
    height: 1.975rem;
    width: 12.25rem;
  }
  .navbar-side .navbar-second-side input::placeholder {
    font-size: 0.675rem;
  }

  .navbar-second-side .subscribeButton {
    font-size: 0.675rem;
    height: 2.15rem;
    width: 4.813rem;
  }
  .navbar-second-side .links {
    margin-right: 0;
  }
  .navbar-side .logo {
    height: 3.875rem;
    width: 9.88rem;
  }
  .navbar-second-side .links a {
    font-size: 0.7375rem;
    margin: 0.8125rem;
  }
  .imageTextContent .imageContent {
    height: 34rem;
  }

  .imageTextContent .textContent h1 {
    font-size: 1.875rem;
    line-height: 1.875rem;
  }
  .imageTextContent .textContent h4 {
    font-size: 0.75rem;
  }
  .imageTextContent .textContent .firstPart-button {
    font-size: 0.875rem;
    height: 2.663rem;
    margin-top: 0.625rem;
    width: 10.75rem;
  }
}
@media only screen and (min-width: 1800px) {
  .container .header .front-bg {
    top: -420%;
  }
  .container .header .back-bg {
    top: -310%;
  }
}
