:root{
    --primary:#EF2779;
    --secondary:#7834BE;
    --blueTone:#38A3F1;
    --dark-textBackground-color:#252B42;
    --dark-blueTone:#18171d;
    --second-text-color:#374754;
    --light-textBackground-color:#FFFFFF;
}