.eighth-part {
  align-items: center;
  background-color: var(--dark-textBackground-color);
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}
.eighth-part-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.eighth-part-text-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.eighth-part-mobileIcons{
  display: none;
}
.eighth-part-text-content h2 {
  color: var(--light-textBackground-color);
  font-family: "Roboto", sans-serif;
  font-size: 2.875rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 3.563rem;
  text-align: center;
}
.eighth-part-text-content h4 {
  color: var(--light-textBackground-color);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 1.25rem;
  padding: 27px 0 3.125rem 0;
  text-align: center;
}
.form-location {
  align-items: center;
  display: flex;
  justify-content: center;
}
form {
  align-items: center;
  background: var(--light-textBackground-color);
  border: 0.65371px solid #dddddd;
  border-radius: 13.0742px;
  box-shadow: 0px 8.49823px 12.4205px rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 27.19rem;
  justify-content: center;
  margin-right: 4.063rem;
  width: 75%;
}
.form-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  width: 80%;
}
.iconMiniicon {
  display: flex;
  flex-direction: column;
}
.miniIcon {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.125rem;
}
.notification {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 0 0 0.625rem 0;
  padding: 0.3125rem;
}
.notification h5 {
  color: var(--light-textBackground-color);
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1px;
  line-height: 1.125rem;
  padding-left: 1.25rem;
}

.eighth-part-icons {
  display: flex;
  margin: 0.625rem;
}
.eighth-part-icons img {
  padding-right: 1.5rem;
}
.form-wrapper input {
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  border-radius: 39px;
  box-sizing: border-box;
  margin: 0.9375rem 0;
  outline: none;
  padding: 0.5625rem 0;
  width: 100%;
}

.form-wrapper textarea {
  background: #f5f5f5;
  border: 0.65371px solid #e8e8e8;
  color: var( --dark-blueTone);
  font-family: "Roboto", sans-serif;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.06px;
  line-height: 0.625rem;
  outline: none;
  padding: 0 0.9375rem;
  resize: none;
  width: 100%;
}
.form-wrapper textarea::placeholder {
  color: var( --dark-blueTone);
  font-family: "Roboto", sans-serif;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.06px;
  line-height: 0.625rem;
  padding-top: 0.9375rem;
}
.form-wrapper input::placeholder {
  color: var( --dark-blueTone);
  font-family: "Roboto", sans-serif;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.065371px;
  padding-left: 0.875rem;
}
.form-wrapper button {
  background: var(--primary);
  border: none;
  border-radius: 22.8799px;
  color: var(--light-textBackground-color);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.13px;
  line-height: 0.625rem;
  margin-top: 2rem;
  outline: none;
  padding: 0.75rem 2.188rem;
}
