.features {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  height: 80%;
  justify-content: center;
  margin-top: 56.25rem;
  padding-bottom: 5.625rem;
  width: 100%;
}
.second-part-wrapper {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.header-side {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 0;
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.header-side.visible {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.advice-side {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 5rem;
  opacity: 0;
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 100%;
}
.advice-side.visible {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
.header-side h2 {
  color: var(--dark-textBackground-color);
  font-family: "Roboto", sans-serif;
  font-size: 2.875rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 3.563rem;
  padding: 0.625rem;
  text-align: center;
}
.header-side h3 {
  color: var(--dark-textBackground-color);
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1px;
  line-height: 2.063rem;
  text-align: center;
}
.header-side h4 {
  color: var(--second-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 1.25rem;
  text-align: center;
}
.second-advice {
  margin: 0 3.25rem;
}
.second-advice-part1,
.first-advice-part1,
.third-advice-part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.second-advice-part1 div,
.first-advice-part1 div,
.third-advice-part1 div {
  margin-right: 0.625rem;
}
.second-advice-part1 h3,
.first-advice-part1 h3,
.third-advice-part1 h3 {
  color: var(--dark-textBackground-color);
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1px;
  line-height: 2.063rem;
}
.second-advice-part2 pre,
.first-advice-part2 pre,
.third-advice-part2 pre {
  color: var(--second-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 1.688rem;
}
.statistics {
  height: 100%;
  margin-top: 7.5rem;
}
.computer-side {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}
.computer-photo {
  background: url(../images/computer.png);
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 38.31rem;
  width: 100%;
}
.computer-side h2 {
  color: var(--dark-textBackground-color);
  font-family: "Roboto", sans-serif;
  font-size: 2.875rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 3.563rem;
  text-align: center;
}
.computer-side-title {
  opacity: 0;
  -webkit-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  transform: translateX(-100px);
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.computer-side-subtitle {
  opacity: 0;
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.computer-side-subtitle.visible {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
.computer-side-title.visible {
  opacity: 1;
  -webkit-transform: translate(0px);
  -ms-transform: translate(0px);
  transform: translate(0px);
}
.computer-side h4 {
  color: var(--second-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 1.25rem;
  margin: 1.25rem;
  text-align: center;
}
.computer-side .thirdPart-button {
  background: var(--blueTone);
  border: none;
  border-radius: 35px;
  color: var(--light-textBackground-color);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: bold;
  height: 4.063rem;
  letter-spacing: 0.1px;
  line-height: 2.063rem;
  margin-bottom: 5.625rem;
  margin-top: 3.438rem;
  opacity: 0;
  outline: none;
  text-align: center;
  -webkit-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  transform: translateX(-100px);
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 14.75rem;
}
.thirdPart-button:focus {
  background-color: var(--blueButton-color);
  color: var(--light-textBackground-color);
}
.thirdPart-button.visible {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

.thirdPart-button:hover {
  background-color: var(--light-textBackground-color);
  border: 1px solid var(--blueTone);
  color: var(--blueTone);
}
.thirdPart-button:active {
  background-color: var(--blueTone);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: var(--light-textBackground-color);
  outline: var(--light-textBackground-color);
  -webkit-transform: translateY(7px);
  -ms-transform: translateY(7px);
  transform: translateY(7px);
}
