.fifth-part {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-top: 5.438rem;
}
.fifth-part button {
  background: var(--blueTone);
  border: none;
  border-radius: 35px;
  color: var(--light-textBackground-color);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: bold;
  height: 4.063rem;
  letter-spacing: 0.1px;
  line-height: 2.063rem;
  margin: 5rem 0;
  outline: none;
  width: 14.75rem;
}
.fifth-part button:hover {
  background-color: var(--light-textBackground-color);
  color: var(--blueTone);
}
.fifth-part button:active {
  background-color: var(--blueTone);
  box-shadow: none;
  color: var(--light-textBackground-color);
  outline: var(--light-textBackground-color);
  transform: translateY(0.4375rem);
}
.fifth-part .partners {
  display: flex;
  flex-direction: column;
}
.partners h2 {
  color: var(--dark-textBackground-color);
  font-family: "Roboto", sans-serif;
  font-size: 2.875rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 3.563rem;
  text-align: center;
}
.partners h4 {
  color: var(--second-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 1.25rem;
  padding-top: 1.063rem;
  text-align: center;
}
.client {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50.88rem;
}
.client div {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 25rem;
  justify-content: space-evenly;
  width: 15.63rem;
}
.client img {
  height: 7.625rem;
  width: 7.688rem;
}
.client h5 {
  margin: 5rem 0 0.9375rem 0;
}
.client pre {
  color: var(--second-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 1.688rem;
  padding-top: 0.9375rem;
  text-align: center;
}
