.fourth-part {
  align-items: center;
  background: linear-gradient(
    39.97deg,
    var(--primary) 0.79%,
    var(--secondary) 79.29%
  );
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  margin-top: 5rem;
}
.content-side,
.action-side {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-side-mobileText{
  display: none;
}
.action-side {
  margin-top: 4.25rem;
}
.content-side h3 {
  color: var(--light-textBackground-color);
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1px;
  line-height: 2.063rem;
  text-align: center;
}
.content-side h2 {
  color: var(--light-textBackground-color);
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 57px;
  text-align: center;
}
.action-side h3 {
  color: var(--light-textBackground-color);
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1px;
  line-height: 2.063rem;
}
.action-side p {
  color: var(--light-textBackground-color);
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 1.688rem;
  padding-top: 0.625rem;
}
.action-side input {
  background: #f4f4f4;
  border: 1px solid #e8e8e8;
  border-radius: 39px;
  box-sizing: border-box;
  height: 3.375rem;
  margin: 1.5rem 0 0.75rem 0;
  outline: none;
  padding-left: 2.188rem;
  width: 22.06rem;
}
.action-side input::placeholder {
  color: var( --dark-blueTone);
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 1rem;
}
.action-side button {
  background: var(--primary);
  border: none;
  border-radius: 35px;
  color: var(--light-textBackground-color);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  height: 3.125rem;
  letter-spacing: 0.2px;
  line-height: 1rem;
  margin: 0 0 12px 0;
  outline: none;
  width: 22.06rem;
}
.action-side button:hover {
  background-color: var(--light-textBackground-color);
  color: var(--primary);
}
.action-side button:active {
  background-color: var(--primary);
  box-shadow: none;
  color: var(--light-textBackground-color);
  outline: var(--light-textBackground-color);
  transform: translateY(0.4375rem);
}
