.seventh-part {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 6.25rem 0;
  margin-bottom: 4.375rem;
}
.pricing-content {
  margin: 6.25rem 0 5rem 0;
}
.pricing-content h2 {
  color: var(--second-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 2.875rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 3.563rem;
  text-align: center;
}
.pricing-content h4 {
  color: var(--dark-textBackground-color);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 1.25rem;
  padding: 1.063rem 0 2.5rem 0;
  text-align: center;
}
.price-cards {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 80%;
}
.box:hover {
  background: -o-linear-gradient(
    50.03deg,
    var(--primary) 0.79%,
    var(--secondary) 79.29%
  );
  background: linear-gradient(
    39.97deg,
    var(--primary) 0.79%,
    var(--secondary) 79.29%
  );
  border: 1px solid #dedede;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.box1 {
  align-items: flex-start;
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 80%;
}

.box:hover h3,
.box:hover h1,
.box:hover h5,
.box:hover h6 {
  color: var(--light-textBackground-color);
}
.box:hover button {
  background: var(--light-textBackground-color);
  border: 1px solid var(--primary);
  color: var(--primary);
}
.little-price-card {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  height: 17.19rem;
  justify-content: center;
  width: 20.94rem;
}
.little-price-card:not(:nth-child(1)) {
  margin-left: 50px;
}
.price-card-sign {
  align-items: center;
  -webkit-box-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  padding: 1.875rem 0;
}
.price-card-sign div {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.price-card-sign h1 {
  color: var(--dark-textBackground-color);
  font-family: "Roboto", sans-serif;
  font-size: 2.813rem;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.2px;
  line-height: 4.063rem;
  padding: 0.625rem;
}
.little-price-card h3 {
  color: var(--dark-textBackground-color);
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1px;
  line-height: 2.063rem;
}
.little-price-card h5,
.little-price-card h6 {
  color: var(--second-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1px;
  line-height: 1.125rem;
}

.little-price-card button {
  background: var(--blueTone);
  border: none;
  border-radius: 35px;
  color: var(--light-textBackground-color);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  height: 3.25rem;
  letter-spacing: 0.2px;
  line-height: 1rem;
  outline: none;
  width: 100%;
}
