.second-part {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    margin-top: 900px;
  }
  .header-side {
    display: flex;
    flex-direction: column;
  }
  .advice-side {
    display: flex;
    margin-top: 80px;
  }
  .header-side h2 {
    color: var(--dark-textBackground-color);
    font-family: "Roboto", sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.2px;
    line-height: 57px;
    padding: 10px;
    text-align: center;
  }
  .header-side h3 {
    color: var(--dark-textBackground-color);
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1px;
    line-height: 33px;
    text-align: center;
  }
  .header-side h4 {
    color: var(--second-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 20px;
    text-align: center;
  }
  .second-advice {
    margin: 0 52px;
  }
  .second-advice-part1,
  .first-advice-part1,
  .third-advice-part1 {
    display: flex;
  }
  .second-advice-part1 div,
  .first-advice-part1 div,
  .third-advice-part1 div {
    margin-right: 10px;
  }
  .second-advice-part1 h3,
  .first-advice-part1 h3,
  .third-advice-part1 h3 {
    color: var(--dark-textBackground-color);
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1px;
    line-height: 33px;
  }
  .second-advice-part2 pre,
  .first-advice-part2 pre,
  .third-advice-part2 pre {
    color: var(--second-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.2px;
    line-height: 27px;
  }