.third-part {
    height: 100%;
    margin-top: 120px;
  }
  .computer-side {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .computer-photo {
    background: url(../images/computer.png);
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 613.49px;
    width: 100vw;
  }
  .computer-side h2 {
    color: var(--dark-textBackground-color);
    font-family: "Roboto", sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.2px;
    line-height: 57px;
    text-align: center;
  }
  .computer-side h4 {
    color: var(--second-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 20px;
    margin: 20px;
    text-align: center;
  }
  .computer-side .thirdPart-button {
    background: var(--blueTone);
    border: none;
    border-radius: 35px;
    color: var(   --light-textBcakground-color);
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    height: 65px;
    letter-spacing: 0.1px;
    line-height: 33px;
    margin-bottom: 90px;
    margin-top: 55px;
    outline: none;
    text-align: center;
    width: 236px;
  }
  .thirdPart-button:hover {
    background-color: var(   --light-textBcakground-color);
    color: var(--blueTone);
  }
  .thirdPart-button:active {
    background-color: var(--blueTone);
    box-shadow: none;
    color: var(   --light-textBcakground-color);
    outline: var(   --light-textBcakground-color);
    transform: translateY(7px);
  }